@import "vendor/bootstrap";

body {
  padding-top: 20px;
}

.menu {
  padding-left: 0;

  li {
    display: inline-block;
    margin-right: 10px;
  }
}

.button-link {
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  cursor: pointer;
  color: #6897C6;
}
